*{box-sizing:border-box;}
li,h1,h2,h3,h4,h5,h6,html,p,div,body{
  margin:0
  padding:0;
}
body {
margin:0;
  font-family:"Lucida Grande";}
.clear {clear:left;}
.container{
  max-width:1170px;
  width:100%;
  padding: 0 15px;
  margin:0 auto;
}

.top-wrapper{
  padding:180px 0 100px 0;
  background-image:url(https://pics.clipartpng.com/Cat_PNG_Clip_Art-2580.png);
background-size:cover;
color:#4b6584;
text-align: left;}

.top-wrapper h1{
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
  margin-bottom:10px;}

.top-wrapper p{
  opacity : 0.7;
  margin-bottom: 3px;
}

.btn-wrapper{
  text-align:center;
  margin:20px 0;
}

.btn-wrapper p{
  margin:10px 0;
}

.open{
  background-color: #239b76;
}

.facebook{
  background-color: #3b5998;
  margin-right:10px;
}

.twitter{
  background-color: #55acee;
}



.logo{
  width:124px;
  margin-top:20px;}
  .header-right
  {float:right;
  margin-right:-25px;}
  .header-right a
  {line-height:65px;
  padding:0 25 px;
color:#4b6584;
display:block;
float:left;
transition:all 0.5s;
}